.header-dark {
  background: linear-gradient(20deg, #000000,#4a5583,#0959b9,#110728,#08d3b8);
margin: 0px;

}

/*laptop */
@media (min-width:601px) {
.logo{
	height: 95px;
	width: 110px;
   }
    .header-dark {
    padding-bottom:0px;

  }

 .header-dark .navbar {
    padding-top:.75rem;
    padding-bottom:.75rem;
  }

 .header-dark .hero {
    margin-top:20px;
  }

  .header-dark .hero h1 {
    margin-bottom:50px;
    line-height:1.5;
  }

  .header-dark .navbar.navbar .navbar-nav .nav-link {
    padding-left:1rem;
    padding-right:1.2rem;
    font-size: 21px;
  }
  
}/*end of px stuffs*/


.header-dark .navbar {
  background:transparent;
  padding-top:0;
  padding-bottom:0;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

.header-dark .navbar .navbar-collapse span {
  margin-top:5px;
}

.header-dark .navbar .navbar-toggler {
  border-color:#747474;
}

.header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
  background:none;
}

.header-dark .navbar .navbar-toggler {
  color:#eee;
}

.header-dark .navbar .navbar-collapse, .header-dark .navbar .form-inline {
  border-color:#636363;
}

@media (min-width: 992px) {
  .header-dark .navbar.navbar .navbar-nav .nav-link {
    padding-left:1rem;
    padding-right:1.2rem;
    font-size: 21px;
  }
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link {
  color:#d9d9d9;
  font-size: 20px;
  padding-right:14px; 
}
.header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
  color:#fcfeff !important;
  background-color:transparent;
}

.header-dark .navbar .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .dropdown-item {
  line-height:1.6;
  font-size:16px;
  color:#37434d;
}

.header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .drodown-item:hover {
  background:#ebeff1;
}

.header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
  background:#208f8f;
  border-radius:20px;
  font-size:inherit;
  color:#fff;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:.5rem .8rem;
  transition:background-color 0.25s;
}

.header-dark .navbar .action-button:hover {
  background:#269d9d;
}

.header-dark .navbar .form-inline label {
  color:#ccc;
}

.header-dark .hero {
  margin-top:60px;
}

.header-dark .hero h1 {
  color:#fff;
  font-family:'Bitter', serif;
  font-size:40px;
  margin-top:20px;
  margin-bottom:80px;
}

.header-dark .hero .embed-responsive iframe {
  background-color:#666;
}


@media (max-width:600px) {
.logo{
  height: 90px;
  width: 100px;
  }


}